!!!
%html
  %head
    %title Wall
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body
    %header
      .wrapper.clearfix
        #logo= link_to "The Wall", root_path
        %nav
          - if user_signed_in?
            = link_to current_user.name, edit_user_registration_path, class: "button"
            = link_to "Create post", new_post_path, class: "button"
          - else
            = link_to "Sign in", new_user_session_path, class: "button"
            = link_to "Sign Up", new_user_registration_path, class: "button"

    %p.notice= notice
    %p.alert= alert

    .wrapper
      = yield

    .wrapper
      .footer
        %p
          copyrighted 2015, samuel colon 
          %br/
          about me
          privacy policy     